@import "tailwindcss";

@utility center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #222222;
}
